@import "./variables";

.editor {
  margin-top: 20px;
  &__title,
  &__desc {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    transition: all 0.1s ;
    &:focus {
      outline-style: solid;
      outline-color: var(--text-color);
      outline-width: 2px;
    }
  }

  &__desc {
    resize: none;
    height: 6em;
  }

  &__buttons {
    margin-top: 10px;

    &--save {
      cursor: pointer;
      margin-right: 8px;
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      @include button($edit, white)

    }
    &--cancel {
      background-color: #6c757d;
      @include button(red,white)
    }
  }
}