@import './styles/variables.scss'; 

.app {
  width: 100%;
  @include flex(center, center, column)
}

.app__header {
  @include flex(center, center, row)
}

body {
  --background-color: white;
  --text-color: black;
  height: 100vh;
  height: 100svh;
  margin: 0;
  padding: 0;

  @include flex(center, center, column);
  text-align: center;
  transition: all .2s;
}

@media (max-width: 550px) {
  body {
    height: 100%;
  }
}

// Когато body има клас .light-theme
body.light-theme {
  --background-color: rgb(224, 224, 224);
  --text-color: black;
  --card-background: rgb(224, 224, 224);
  --hover-background: #a6a5a5;



  .card {
    background-color: rgb(76, 76, 76);
    box-shadow: 0 0 7px -3px black;
    color: white;

    &:hover {
      box-shadow: 0 0 17px -3px black;
    }

    &__menu--button {
      color: white;
    }
  }
  .theme-toggle--button {
    @include button(black, white)
  }

  .add--button {
    @include button($action-color, black);
    &:hover {
      filter: brightness(95%);
      background-color: $action-color;
      color: black;
      box-shadow: 0 0 10px -3px black;
    }
  }

 
}

body.dark-theme {
  --background-color: #121212;
  --text-color: white;
  --card-background: #121212;
  --hover-background: #727272;


  .card {
    box-shadow: 0 0 7px -3px white;
    background-color: white;
    color: black;

    &:hover {
      box-shadow: 0 0 17px 0 white;
    }

    &__menu--button {
      color: black;
    }

    &__menu--popup {
      button {
        color: white;
      }
    }
  }
  
  .theme-toggle--button {
    @include button($action-color, black)
  }

  .add--button {
    @include button($action-color, black);
  }
}

/* Тогава използваш променливите така: */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
}

.app__add-button {
  @include button($action-color, black);
}